<%= render 'layouts/customer_header' %>
	<div class="container margintop">
		<h2 class="title brown"><strong>会社概要</strong></h2>
		<table class="table table-bordered brown" style="margin: 15px auto; width: 70%;">
				<tr>
					<th class="backgroundbrown">会社名</th><td>ながのCAKE</td>
				</tr>
				<tr>
					<th class="backgroundbrown">設立</th><td>2009年 2月11日</td>
				</tr>
				<tr>
					<th class="backgroundbrown">従業員</th><td>38名 (2019年12月末現在)</td>
				</tr>
				<tr>
					<th class="backgroundbrown">資本金</th><td>1092万円</td>
				</tr>
				<tr>
					<th class="backgroundbrown">上場銘柄</th><td>証券コードXXX (ISINコード : JP937523042)</td>
				</tr>
				<tr>
					<th class="backgroundbrown">上場証券取引所</th><td>長野証券取引所(NASDAQ)</td>
				</tr>
				<tr>
					<th class="backgroundbrown">代表取締役</th><td>伊藤博文</td>
				</tr>
				<tr>
					<th class="backgroundbrown">監査等委員である取締役</th><td>聖徳太子</td>
				</tr>
				<tr>
					<th class="backgroundbrown">所在地</th><td>本社 〒111-0000 長野県長野市1-11-11</td>
				</tr>
				<tr>
					<th class="backgroundbrown">主要取引銀行</th><td>ゆうちょん銀行</td>
				</tr>
				<tr>
					<th class="backgroundbrown"></th><td>四菱銀行</td>
				</tr>
			</table>
		<div class="about-shop">
			<div></div>
		</div>
	</div>
<%= render 'layouts/customer_footer' %>