<%= render 'layouts/customer_header' %>
	<div class="container">
		<h2 class="title about-title-ku">会社概要</h2>
		<table class="table table-bordered" style="margin: 15px auto; width: 70%;">
				<tr>
					<th>会社名</th><td>ながのCAKE</td>
				</tr>
				<tr>
					<th>設立</th><td>2009年 2月11日</td>
				</tr>
				<tr>
					<th>従業員</th><td>38名 (2019年12月末現在)</td>
				</tr>
				<tr>
					<th>資本金</th><td>1092万円</td>
				</tr>
				<tr>
					<th>上場銘柄</th><td>証券コードXXX (ISINコード : JP937523042)</td>
				</tr>
				<tr>
					<th>上場証券取引所</th><td>長野証券取引所(NASDAQ)</td>
				</tr>
				<tr>
					<th>代表取締役</th><td>伊藤博文</td>
				</tr>
				<tr>
					<th>監査等委員である取締役</th><td>聖徳太子</td>
				</tr>
				<tr>
					<th>所在地</th><td>本社 〒111-0000 長野県長野市1-11-11</td>
				</tr>
				<tr>
					<th>主要取引銀行</th><td>ゆうちょん銀行</td>
				</tr>
				<tr>
					<th></th><td>四菱銀行</td>
				</tr>
			</table>
		<div class="shop-box">
			<div></div>
		</div>
	</div>
<%= render 'layouts/customer_footer' %>