<%= render 'layouts/customer_header' %>
	<div class="container">
		<h1 class="title" style="font-size: 50px;">-会社概要-</h1>
		<div style="text-align: center; padding: 10px; margin-bottom: 15px;">
			<div style="width: 70%; padding: 20px; border: 1px solid black; margin: 0 auto;">
				<p>建物の写真、ロゴなど</p>
				<p>建物の写真、ロゴなど</p>
				<p>建物の写真、ロゴなど</p>
				<p>建物の写真、ロゴなど</p>
				<p>建物の写真、ロゴなど</p>
				<p>建物の写真、ロゴなど</p>
				<p>建物の写真、ロゴなど</p>
				<p>建物の写真、ロゴなど</p>
				<p>建物の写真、ロゴなど</p>
				<p>建物の写真、ロゴなど</p>
				<p>建物の写真、ロゴなど</p>
				<p>建物の写真、ロゴなど</p>
				<p>建物の写真、ロゴなど</p>
				<p>建物の写真、ロゴなど</p>
				<p>建物の写真、ロゴなど</p>
				<p>建物の写真、ロゴなど</p>
				<p>建物の写真、ロゴなど</p>
			</div>
			<h5>会社名 : ながのCAKE</h5>
			<h5>設立 : 2009年 2月11日</h5>
			<h5>従業員 : 38名 (2019年12月末現在)</h5>
			<h5>資本金 : 1092万円</h5>
			<h5>上場銘柄 : 証券コードXXX (ISINコード : JP937523042)</h5>
			<h5>上場証券取引所 : 長野証券取引所(NASDAQ)</h5>
			<h5>代表取締役 : 伊藤博文</h5>
			<h5>監査等委員である取締役 : 聖徳太子</h5>
			<h5>所在地 : 本社 〒111-0000 長野県長野市1-11-11</h5>
			<h5>主要取引銀行 : ゆうちょん銀行</h5>
		</div>
	</div>
<%= render 'layouts/customer_footer' %>