<%= render 'layouts/customer_header' %>
	<div class="container">
		<h1 class="title" style="font-size: 50px;">-ご利用ガイド-</h1>
		<div style="text-align: left; padding: 10px; margin-bottom: 15px;">
			<h5>【プライバシーポリシーについて】</h5>
			<p>弊社では、当サイトをお客様に安心してご利用いただくため、法令およびプライバシーポリシーに従い個人情報の取り扱いについて厳重に管理してまいります。</p>
			<a href="#" style="text-decoration: none; text-decoration: underline;">・プライバシーポリシー</a>
			<br>
			<br>
			<h5>【推奨環境】</h5>
			<p>ながのCAKEオンラインは、以下のウェブブラウザでご覧いただくことを推奨いたします。
			推奨ウェブブラウザ以外でのご利用や、推奨ウェブブラウザでもお客さまの設定によっては、ご利用できない場合や正しく表示されない場合があります。</p>
			<p>・Microsoft Internet Explorer 11以上</p>
			<p>・Mozilla Firefox (最新版)</p>
			<p>・Safari 5.1以上</p>
			<br>
			<br>
			<h5>【著作権について】</h5>
			<p>本サイトに記載しております画像、テキスト情報などの掲載情報は著作権法および各種法律により保護されております。 弊社の許諾なく転載したり、複写したりする事を禁止いたします。</p>
			<br>
			<br>
			<h5>【リンクについて】</h5>
			<p>本サイトへのリンクは原則として自由です。ただし、下記のサイトへのリンクはお断りさせていただきます。
			また、弊社はリンクされたサイトに対して責任と義務を負うことはありません。</p>
			<p>・弊社の誹謗中傷するものやアダルトコンテンツを含むサイト</p>
			<p>・フレームリンク等、本サイトの明確性が損なわれるリンク</p>
			<p>・その他、本サイトの趣旨に合わない場合や、信用を害する恐れがあると判断した場合</p>
			<p>弊社より削除の申し出があった際は直ちにリンクを削除していただくものとします。</p>
			<br>
			<br>
			<h5>【禁止事項について】</h5>
			<p>・虚偽の登録内容の申請</p>
			<p>・弊社または第三者に迷惑、不利益もしくは損害を与える行為</p>
			<p>・営利、転売目的での本サイトの利用</p>
			<p>・本サイトの運営を妨げ、支障をきたす恐れのある行為</p>
			<p>・その他、弊社が不適切と判断する行為</p>
			<br>
			<br>
			<h5>【免責事項】</h5>
			<p>・本サイトに掲載された情報の正確性、完全性、最新性などに関して、保障することはできません。</p>
			<p>・本サイトに記載している内容は予告なく修正や変更されることがございます。</p>
			<p>・天災・事変・その他非常事態により、弊社サービスを運営できない場合、弊社はそれによりお客様に生じた不利益に対しては責任を負わないものとします。</p>
			<p>・お客様のご利用環境、操作手順の不備によって生じた損害は保証しないものとします。</p>
			<br>
			<br>
			<h5>ご注文方法</h5>
			<p>ご注文の商品ページにて個数をご入力し「カートに入れる」をクリックして購入画面へとお進みください。
			ログインまたは新規会員登録後は購入画面の流れに沿って必要項目をご入力いただき、完了に至ります。</p>
			<p>商品発送後はご登録のメールアドレスへ「発送完了のお知らせ」をメールにてお送りいたしますので、伝票番号等はこちらよりご確認ください。</p>
			<br>
			<br>
			<h5>ご注文の変更・キャンセルについて</h5>
			<p>発送手配開始前のご注文であれば、承ることが可能でございます。<br>
			下記「通信販売、ご注文に関するお問い合わせ」ページから、メールもしくはお電話よりおはやめにご連絡くださいますようお願いいたします。</p>
			<p>※追加注文の際は、別途ご注文手続きは行わないようお願いいたします。（別注文となりますので、ご注意ください。）<br>
			※順次発送準備を行っておりますため、お届け日より７日以内となったご注文は、状況によりご希望に添えない場合がございます。最短日のご指定など、お届け日が直近となったご注文の場合は、お電話にてご連絡をいただけますようお願いいたします。<br>
			※受注生産商品（焼き菓子等）はお届け日の１０日前までにご連絡ください。</p>
			<a href="#" style="text-decoration: none; text-decoration: underline;">通信販売、ご注文に関するお問い合わせ</a>
			<br>
			<br>
			<h5>ご配送について</h5>
			<p>・ヤマトン運輸でのご発送となります。離島等一部地域へのご配達、または、バレンタイン、クリスマス、ゴールデンウィーク、お盆、年末年始などの配送センターが混み合う期間のご配達の場合は、別の運送会社となる場合もございます。</p>
			<p>・配送便（冷凍便 冷蔵便 冷凍特別便）が異なる商品を組み合わせたご注文の場合、別梱包でのお届けとなります。</p>
			<p>・お届けは日本国内に限らせていただきます。</p>
			<p>・離島など一部地域におきまして配送不可能となる場合もございます。</p>
			<p>・離島など配送日数がかかる地域へのご配送の場合、一部商品を販売できないことがございますので、ご了承ください。</p>
			<p>・道路事情や、地震・台風など気象状況の影響により、ご指定日到着に遅延が発生する場合がございます。ご了承ください。</p>
			<br>
			<br>
			<h5>再配達のご依頼について</h5>
			<p>ヤマトン運輸でのご発送となります。不在票をご用意の上、ヤマトン運輸へご依頼ください。</p>
			<a href="#" style="text-decoration: none; text-decoration: underline;">担当ドライバー・サービスセンターに電話で再配達依頼</a>
			<a href="#" style="text-decoration: none; text-decoration: underline;">自動受付で再配達依頼</a>
			<br>
			<br>
			<h5>送料について</h5>
			<p>全国一律890円</p>
			<p>・配送便（冷凍便 冷蔵便 冷凍特別便）が異なる商品を組み合わせたご注文の場合、別梱包でのお届けとなり、それぞれの送料をご負担いただきます。</p>
			<p>・ご注文金額10,000円（税込）毎に1個口分の送料を無料でお届けいたします。</p>
			<p>・送料無料が付いた冷凍便の商品と他の冷凍便の商品をご一緒にご注文頂くと送料無料でお届けいたします。
			※同じお届け先、お届け日に限ります。</p>
			<p>・送料無料が付いた冷蔵便の商品と他の冷蔵便の商品をご一緒にご注文頂くと送料無料でお届けいたします。
			※同じお届け先、お届け日に限ります。</p>
			<p>・オンラインショップでご注文の際の価格です。店頭でのご注文の場合は送料が異なります。</p>
			<br>
			<br>
			<h5>お支払方法について</h5>
			<p>お支払方法は「代金引換」「クレジットカード」「後払い」「Amazongアカウントでお支払い」「atoneg」よりお選びいただけます。
			なお、ご注文の内容によっては、お支払い方法が限定される場合がございます。</p>
			<p>※クレジットカード、Amazongアカウントでお支払い、atoneg</p>
			<p>※ご登録のご自宅・ご勤務先以外へのお届けのご注文につきまして、2017年9月1日お届け分よりご依頼主様への明細書の送付を廃止させていただきます。明細書の送付をご希望の場合、「明細書希望」の旨をご入力ください。ご指定がない場合、ご請求先へ送付いたします。</p>
			<br>
			<h6>クレジットカード</h6>
			<p>・下記のカード会社がご利用いただけます。</p>
			<p>VISAN, MasterCarrrd, JCCB, Americang Express</p>
			<p>・クレジットカード情報（カード番号・名義人名・有効期限等）確認のため、お電話をさせていただく場合がございます。</p>
			<p>・代金回収が100万円を超える場合はご利用できませんのでご了承願います。</p>
			<p>・与信（カード認証）完了後、商品を発送致します。</p>
			<p>・ご入力頂いたカード情報は弊社では閲覧できません。</p>
			<br>
			<h6>代金引換</h6>
			<p>・代金引換手数料330円（税込）はお客様負担となります。（一部商品を除く）</p>
			<p>・商品受取時にドライバーに代金をお支払いください。</p>
			<p>・お届け先がご依頼主様の場合に限りご利用頂けます。（ご依頼主様とお届け先様が異なる場合はご利用頂けませんのでご注意ください。）</p>
			<p>・1回のご注文金額（商品代金・配送料・消費税を含む）が30万円以下の場合にご利用いただけます。</p>
			<br>
			<h6>後払い（コンビニ・郵便局・銀行振込)</h6>
			<p>○このお支払方法の詳細
			ご依頼主様への商品お届けの場合、請求書は商品に同梱されていますのでご確認ください。<br>
			ギフト用でのご注文の場合は、請求書は商品に同梱せず、ご依頼主様へ別途お送りいたします。<br>
			商品代金のお支払いは「コンビニ」「郵便局」「銀行」どこでも可能です。<br>
			請求書の記載事項に従って発行日から14日以内にお支払いください。</p>
			<p>○ご注意
			後払い手数料：無料 ※ご利用の銀行によって、お振込みの手数料が発生する場合がございます。その場合の手数料は、お客様負担となります。
			後払いのご注文には、株式会社ネットプロテクションズの提供する
			NP後払いwizサービスが適用され、サービスの範囲内で個人情報を提供し、
			代金債権を譲渡します。ご利用限度額は累計残高で100,000円（税込）迄です。<br>
			（NP後払いサービスご利用分も含まれます。）
			ご利用者が未成年の場合、法定代理人の利用同意を得てご利用ください。<br>
			詳細はバナーをクリックしてご確認ください。</p>
			<h6>atoneg</h6>
			<p>○このお支払方法の詳細
			今月のご利用分を翌月20日までに、コンビニでまとめてお支払いいただける決済方法です。<br>
			ご利用の翌月初に、atoneを運営する株式会社ネットプロテクションズから請求書を別途お送りいたします。<br>
			請求書はコンビニでのみご利用可能です。請求書の記載事項に従ってお支払い期日までにお支払いください。
			</p>
			<br>
			<p>atoneg のスマホアプリで、次の支払い方法に変更することができます。</p>
			<p>・Loppi / Famiポート（コンビニ）</p>
			<p>・自動引き落とし（口座振替）</p>
			<br>
			<p>詳細はバナーをクリックしてご確認ください。</p>
			<p>○ご注意
			atoneg の決済手数料は無料です。
			代金は株式会社ネットプロテクションズの会員規約に基づき、ご指定の方法で請求いたします。
			atonegをご利用いただくと、200円で1ポイント、atoneg のお買い物に使えるポイントが貯まります。</p>
			<br>
			<h6>Amazonアカウントでお支払い</h6>
			<p>・Amazonに登録してあるクレジット情報でお支払いが可能です。</p>
			<p>・Amazonへのサインインが必要になります。</p>
			<p>・Amazonアカウントでのお支払いの場合、注文の変更ができかねますので、ご了承願います。</p>
			<br>
			<br>
			<h5>商品の返品・交換について</h5>
			<p>お客様のご都合（ご注文間違い、お気に召さないなど）による返品・交換は、承っておりません。また、商品には運送会社にて保管できる期限がございます。商品発送後のお客様のご都合によるキャンセルや、保管期限までに商品をお受け取りいただけなかった場合は、商品は弊社へ引き戻し、商品代金・送料をご請求させていただきます。到着後の商品に関するお問い合わせは、商品到着後７日以内にお願いいたします。
			万が一、お届けの商品に破損や不良がございました場合は、現品とお取り替えさせていただきますので、ページ最下部「お問い合わせ」よりご一報を頂き、弊社指定方法での返品処理にご協力をお願い申し上げます。なお、上記以外のご対応を頂きました場合は、まことに恐縮ながら、弊社としては一切の責任を負いかねますので、何卒ご了承のほどお願い申し上げます。</p>
			<br>
			<br>
			<h5>明細書・請求書の送付先について</h5>
			<p>ご登録のご依頼主様に限らせていただきます。
			その他への送付や宛名の変更はご対応いたしかねますので、何とぞご了承ください。</p>
			<p>なお、<a href="#">「よくある質問」</a>にて詳しくご説明しておりますので、ご確認いただけますようお願いいたします。</p>
			<br>
			<br>
			<h5>未成年のお客様について</h5>
			<p>すべて保護者様の同意を経たものとしてお受けさせていただきます。<br>
			別途ご連絡が必要になった際は、保護者様のご承認をいただく場合がございますので、あらかじめご了承のほどお願い申し上げます。</p>
		</div>
	</div>
<%= render 'layouts/customer_footer' %>