<%= render 'layouts/customer_header' %>

<div class="container">
	<div class="row">
			<div  style="height: 600px; width: 100%;">
				<h1 style="text-align: center; line-height: 600px;">ご購入ありがとうございます！！！</h1>
				<div style="text-align: center; margin-top: -200px" ><%= link_to "Topに戻る", root_path, class: "btnbrown"%></p>
			</div>
	</div>
</div>
<%= render 'layouts/customer_footer' %>