<%= render 'layouts/customer_header' %>
<div class="slideshow">
	<img src="assets/cake222.jpeg">
	<img src="assets/puddingslide.jpeg">
	<img src="assets/icecandy1.jpg">
	<img src="assets/slide5.jpeg">
</div>
<div class="clearfix margintop" style="margin-top: 40px;margin-right: 10px; margin-left: 10px;">
	<div class="newsitem clearfix">
		<h3 class="title"><strong>NEWS</strong></h3>
		<p class="title" style="font-size: 10px; margin-top: -15px;">新着ニュース</p>
		<br>
		<div class="js">
			<span>2019 . 01 . 05</span>
			<section class="fadeIn"><strong>アイスマカロンデコレーション<br>¥3400(予約受付開始)</strong></section>
		</div>
		<div class="second js">
			<span>2019 . 01 . 03</span>
			<section class="fadeIn"><strong>お正月限定 キャンディアソート<br>¥1800(先着100名様限定)</strong></section>
		</div>
		<div class="third js">
			<span>2019 . 01 . 01</span>
			<section class="fadeIn"><strong>元日だけ! 謹賀新年ケーキ<br>¥2200(すでに完売しました)</strong></section>
		</div>
		<div class="js">
			<span>2019 . 12 . 25</span>
			<section class="fadeIn"><strong>X'mas ケーキ<br>¥3800(メッセージカード受付)</strong></section>
		</div>
	</div>
	<div class="allitem" style="margin-top: 80px;">
		<%= link_to "全ての商品を見る", items_path, class: "btn btnbrown top2-btn"%>
	</div>
	<div class="blog clearfix">
		<h3 class="title"><strong>Blog</strong></h3>
		<p class="title" style="font-size: 10px; margin-top: -15px;">新着ブログ</p>
		<br>
		<div class="first"><span>店舗内をリニューアル ( 2019 . 01 . 05 )</span></div>
		<div class="second"><span>ホールケーキの取り扱い数を増量 ( 2019 . 01 . 02 )</span></div>
		<div class="marginnone third"><span>店舗内をクリスマス仕様に ( 2019 . 12 . 25 )</span></div>
		<div class="four"><span>新食感クッキーを追加 ( 2019 . 12 . 23 )</span></div>
		<div class="five"><span>ババロア特集 ( 2019 . 12 . 15 )</span></div>
		<div class="marginnone six"><span>キャンディセール( 2019 . 12 . 11 )</span></div>
		<div class="seven"><span>新商品アイスケーキ ( 2019 . 11 . 29 )</span></div>
		<div class="eight"><span>好評だったチョコプリンが復活 ( 2019 . 11 . 25 )</span></div>
		<div class="marginnone nine"><span>ながのCAKE Blogスタート! ( 2019 . 11 . 11 )</span></div>
	</div>
	<h3 class="title"><strong>Popular</strong></h3>
	<p class="title" style="font-size: 10px; margin-top: -15px;">人気商品</p>
	<br>
	<div class="popularphoto">
		<div style="box-shadow: 0px 0px 0px; border: 1px solid #440000;"><span>滑らかクリームのプリン</span></div>
		<div style="box-shadow: 0px 0px 0px; border: 1px solid #440000;"><span>こだわりのクッキー(12種)</span></div>
		<div style="box-shadow: 0px 0px 0px; border: 1px solid #440000;"><span>花の香るマカロンケーキ</span></div>
	</div>
</div>
<%= render 'layouts/customer_footer' %>