<%= render 'layouts/customer_header' %>
	<div class="container">
		<p>商品画像など</p>
		<p>商品画像など</p>
		<p>商品画像など</p>
		<p>商品画像など</p>
		<p>商品画像など</p>
		<p>商品画像など</p>
		<p>商品画像など</p>
		<p>商品画像など</p>
		<p>商品画像など</p>
		<p>商品画像など</p>
		<p>商品画像など</p>
		<p>商品画像など</p>
		<p>商品画像など</p>
		<p>商品画像など</p>
		<p>商品画像など</p>
		<p>商品画像など</p>
		<p>商品画像など</p>
		<p>商品画像など</p>
		<p>商品画像など</p>
	</div>
<%= render 'layouts/customer_footer' %>