<%= render 'layouts/customer_header' %>
	<div class="container">
		<div style="width: 90%; height:
		400px; border: 1px solid black; margin: 15px auto;">
			<h1 style="text-align: center; line-height: 350px;">商品画像など</h1>
		</div>
		<div class="clearfix" style="width: 100%; border-top: 1px solid black; padding: 20px 0; border-bottom: 1px solid black;">
				<% @genres.each do |g| %>
					<% if g.is_active == true %>
						<div class="col-xs-3" style="height: 200px; display: inline-block; border: 1px solid black; text-align: center; line-height: 200px;">
							<%= link_to g.name, genre_path(g.id) %>
						</div>
					<% else %>
					<% end %>
				<% end %>
		</div>
		<div style="width: 90%; height: 800px; border: 1px solid black; margin: 20px auto;">
		</div>
	</div>
<%= render 'layouts/customer_footer' %>