<%= render 'layouts/customer_header' %>
<div class="container">
	<div class="top1 clearfix">
		<div class="top2-ku">
			<%= link_to "全ての商品を見る", items_path, class: "btn btnbrown top2-btn"%>
		</div>
		<div class="genre5-ku">
			<span>人気の商品</span>
		</div>
		<div class="genre6-ku">
			<div><span>滑らかクリームのプリン</span></div>
			<div><span>こだわりのクッキー(12種)</span></div>
			<div><span>花の香るマカロンケーキ</span></div>
		</div>
	</div>
</div>
<%= render 'layouts/customer_footer' %>