// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btnpink2{
	background-color: white;
	color: palevioletred;
}
.top1-ku{
	margin-bottom: 50px;
}
.top2-ku{
	background-image: url(cake.jpg);
	background-position: center;
	background-size: cover;
	border: 1px solid palevioletred;
	width: 80%;
	height: 400px;
	margin: 30px auto;
	text-align: center;
	z-index: -1;
	a{
		padding: 10px 20px;
		margin-top: 178px;
		border: 2px solid palevioletred;
		box-shadow:0px 0px 10px;
		z-index: 100;
	}
	a:hover{
		background-color: palevioletred;
		color: white;
	}
}
.genre1-ku{
	width: 90%;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	a{
		border: 2px solid palevioletred;
	}
	a:hover{
		background-color: palevioletred;
		color: white;
	}
}
.genre-title-ku{
	color: palevioletred;
	text-shadow: 0px 0px 3px;
}
.genre2-ku{
	text-align: center;
	.btnpink2{
		width: 90%;
		margin-bottom: 20px;
		box-shadow:0px 0px 10px;
	}
}
.genre3-ku{
	width: 100%;
	padding: 40px 0;
	height: 200px;
	background-color: palevioletred;
	text-align: center;
	p{
		font-family: Safari;
		font-size: 20px;
		font-weight: 600;
		color: #fff;
		text-shadow: 0.5px 0.5px 1px dimgray;
	}
	a{
		margin-top: 14px;
		border: 2px solid #fff;
		color: #fff;
		text-shadow: 0.5px 0.5px 1px dimgray;
		box-shadow:0px 0px 10px;
	}
	a:hover{
		color: palevioletred;
		background-color: #fff;
	}
}
.genre4-ku{
	width: 80%;
	margin: 40px auto;
	.div1{
		width: 46%;
		height: 250px;
		float: left;
		text-align: center;
		padding-top: 15px;
		box-shadow:0px 0px 20px;
		background: linear-gradient(moccasin, lightsalmon);
		position: relative;
		span{
			font-size: 30px;
			font-weight: 600;
			text-shadow: 0.5px 0.5px 1px dimgray;
		}
		span:nth-child(2){
			display: block;
			width: 100%;
			height: 43px;
			background-color: #282828;
			color: #fff;
		}
		p{
			font-family: "Georgia"
		}
		.p1-ku{
			font-size: 100px;
			position: absolute;
			left: 35px;
			bottom: 3px;
		}
		.p2-ku{
			font-size: 70px;
			position: absolute;
			right: 23px;
		}
		.p3-ku{
			font-size: 40px;
			font-weight: 600;
			position: absolute;
			bottom: 0px;
			right: 7px;
		}
	}
	.div2{
		width: 45%;
		height: 250px;
		float: left;
		margin-left: 8%;
		background: linear-gradient(-100deg, #131313, #404040);
		box-shadow: 0px 0px 20px;
		position: relative;
		padding: 20px;
		.div3{
			width: 100%;
			height: 100%;
			border: 1px solid #DA8E00;
			span:first-child{
				font-size: 90px;
				color: #DA8E00;
	  			background: -webkit-linear-gradient(-45deg, #F7DE05, #DA8E00, #EDAC06, #F7DE05, #ECB802, #DAAF08, #B67B03, #DA8E00, #EDAC06, #F7DE05, #ECB802, #EDAC06);
	 			-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				font-family: cursive;
				position: absolute;
				top: 20px;
				left: 40px;
			}
			span:last-child{
				font-size: 90px;
				color: #DA8E00;
	  			background: -webkit-linear-gradient(-45deg, #F7DE05, #DA8E00, #EDAC06, #F7DE05, #ECB802, #DAAF08, #B67B03, #DA8E00, #EDAC06, #F7DE05, #ECB802, #EDAC06);
	 			-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				font-family: cursive;
				position: absolute;
				bottom: 25px;
				right: 55px;
			}
			.choco-ku{
				position: absolute;
				bottom: 0px;
				left: 90px;
				font-size: 100px;
			}
		}
	}
}
.icon-ku{
	font-size: 20px;
	padding-bottom: 20px;
}

.customer-header-ku{
	width: 100%;
	border-bottom: 1px solid palevioletred;
	padding: 10px 0;
	.nav-ku{
		width: 38%;
		height: 130px;
		line-height: 130px;
		padding-left: 20px;
		float: left;
		.logout-ku{
			margin: 0 5px;
			box-shadow:0px 0px 10px;
		}
		.guide-ku{
			margin: 0 5px;
			box-shadow:0px 0px 10px;
		}
		.mypage-ku{
			margin: 0 5px;
			box-shadow:0px 0px 10px;
		}
		.about-ku{
			margin: 0 5px;
			box-shadow:0px 0px 10px;
		}
		.login-ku{
			margin: 0 5px;
			box-shadow:0px 0px 10px;
		}
		.signup-ku{
			margin: 0 5px;
			box-shadow:0px 0px 10px;
		}
	}
	.title-ku{
		width: 62%;
		height: 130px;
		line-height: 130px;
		float: left;
		a{
			font-size: 60px;
			color: palevioletred;
			text-decoration: none;
			text-shadow: 1px 1px 2px dimgray;
			font-weight: 600;
			font-family: monospace;
		}
		.title-icon-ku{
			float: right;
			padding-top: 8px;
			padding-right: 70px;
			i{
				font-size: 35px;
				padding: 0 6px;
				color: palevioletred;
			}
		}
	}
}
.index-ku{
	color: palevioletred;
	padding: 6px 15px;
	text-shadow: 0px 0px 1.5px;
}

.nav-footer-ku{
	width: 100%;
	background-color: #FFE6EC;
	.nav-footer-inner{
		text-align: center;
		.nav-footer-contact{
			width: 100%;
			padding: 10px;
			h4{
				font-weight: 600;
			}
			.contact-title{
				text-decoration: none;
			}
			p{
				text-decoration: underline;
			}
		}
		.nav-footer-guide{
			width: 100%;
			padding: 10px;
			h4{
				font-weight: 600;
			}
		}
		.nav-footer-question{
			width: 100%;
			padding: 10px;
			h4{
				font-weight: 600;
			}
		}
		.nav-footer-about{
			width: 100%;
			padding: 10px;
			h4{
				font-weight: 600;
			}
		}
	}
}
.customer-footer-ku{
	width: 100%;
	height: 70px;
	background-color: #FFE6EC;
	line-height: 60px;
	text-align: center;
	border-top: 1px solid lightgrey;
}
.to-top-ku{
	position: fixed;
	bottom: 60px;
	right: 100px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	box-shadow:0px 0px 10px;
	i{
		font-size: 60px;
		color: palevioletred;
	}
}
.genre5-ku{
	width: 80%;
	margin: 30px auto;
	box-shadow:0px 0px 7px;
	border-radius: 15px;
	span{
		display: block;
		height: 50px;
		color: white;
		font-size: 20px;
		font-weight: 600;
		line-height: 50px;
		background-color: lightpink;
		text-align: center;
		border-radius: 15px;
	}
}
.genre6-ku{
	width: 80%;
	margin: 10px auto;
	div{
		width: 31%;
		height: 240px;
		margin-left: 3.3%;
		float: left;
		box-shadow:0px 0px 10px;
	}
	div:first-child{
		margin-left: 0.3%;
		background-image: url(pudding3.jpg);
		background-position: center;
		background-size: cover;
		position: relative;
		span{
			position: absolute;
			bottom: 0;
			right: 100px;
			color: white;
			font-weight: 600;
			text-shadow: 1px 1px 2px dimgray;
		}
	}
	div:nth-child(2){
		background-image: url(cookie1.jpg);
		background-position: center;
		background-size: cover;
		position: relative;
		span{
			position: absolute;
			bottom: 0;
			right: 100px;
			color: white;
			font-weight: 600;
			text-shadow: 1px 1px 2px dimgray;
		}
	}
	div:last-child{
		background-image: url(cake_genre.jpg);
		background-position: center;
		background-size: cover;
		position: relative;
		span{
			position: absolute;
			bottom: 0;
			right: 100px;
			color: white;
			font-weight: 600;
			text-shadow: 1px 1px 2px dimgray;
		}
	}
}









