<footer class="backgroundbrown" style="height: 70px; text-align: center;">
	<span class="footer-text" style="line-height: 70px;font-weight: 600;"><%= link_to "©ながのCAKE", root_path, style:"color: white;" %></span>
</footer>