<footer class="admin_footer" style="height: 70px; background-color: #440000; text-align: center;">
	<span class="footer-text" style="line-height: 70px; color: #fff; font-weight: 600;"><%= link_to "©ながのCAKE", root_path, style:"color: white;" %></span>
</footer>