<div style="width: 100%;background-color: #FFE6EC;">
	<div style="text-align: center;">
		<div style="width: 100%; padding: 10px;">
			<h4>-お問い合わせ-</h4>
			<p>商品のご購入・お問い合わせなどお気軽にご連絡ください</p>
			<p style="text-decoration: underline;">TEL : 0120-1234-9999(9:00〜18:00年中無休)</p>
			<p style="text-decoration: underline;">FAX : 0120-2222-8888(24時間受付 年中無休)</p>
			<p style="text-decoration: underline;">Email : cakeecapp@email.com</p>
		</div>
		<div style="width: 100%; padding: 10px;">
			<h4>-ご利用ガイド-</h4>
			<p>お支払い方法,配送方法などは<a href="/guide">こちら</a>から</p>
		</div>
		<div style="width: 100%; padding: 10px;">
			<h4>-よくあるご質問-</h4>
			<p>よくあるご質問は<a href="/admins">こちら</a>から</p>
		</div>
		<div style="width: 100%; padding: 10px;">
			<h4>-会社概要-</h4>
			<p>弊社の会社概要は<a href="/about">こちら</a>から</p>
			<br>
			<%= image_tag 'card_image.png',style: "width: 100px;" %>
		</div>
	</div>
</div>
<footer style="width: 100%; height: 70px; background-color: #FFE6EC; line-height: 60px; text-align: center; border-top: 1px solid lightgrey;">
	<p>©ながのCAKE</p>
</footer>