<div class="nav-footer-ku">
	<div class="nav-footer-inner">
		<div class="nav-footer-contact">
			<h4>-お問い合わせ-</h4>
			<p class="contact-title">商品のご購入・お問い合わせなどお気軽にご連絡ください</p>
			<p>TEL : 0120-1234-9999(9:00〜18:00年中無休)</p>
			<p>FAX : 0120-2222-8888(24時間受付 年中無休)</p>
			<p>Email : naganocake@email.com</p>
		</div>
		<div class="nav-footer-guide">
			<h4>-ご利用ガイド-</h4>
			<p>お支払い方法,配送方法などは<a href="/guide">こちら</a>から</p>
			<%= image_tag 'card_image.png',style: "width: 100px;" %>
		</div>
		<div class="nav-footer-question">
			<h4>-よくあるご質問-</h4>
			<p>よくあるご質問は<a href="/admins">こちら</a>から</p>
		</div>
		<div class="nav-footer-about">
			<h4>-会社概要-</h4>
			<p>弊社の会社概要は<a href="/about">こちら</a>から</p>
			<br>
		</div>
		<div class="icon-ku">
			<%= fa_icon("twitter") %>
			<%= fa_icon("instagram") %>
			<%= fa_icon("facebook") %>
		</div>
	</div>
</div>
<footer class="customer-footer-ku" style="background-color: #440000; color: white;">
	<p>©ながのCAKE</p>
</footer>