<div style="padding : 20px 40px;">
	<p style="border-left: 10px solid #440000; font-size: 18px; padding-left: 3px; color: #440000;">カテゴリーから探す</p>
	<% @genres.each do |g| %>
		<p style="border-bottom: 3px dotted #440000;">
			<%= link_to g.name, genre_path(g), class:"link-c", style:"color: #440000; margin-left: 10px;" %>
		</p>
	<% end %>
</div>
